@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        ASP.NET Core MVC Project . A simple project of CRUD operations using the ENTITY framework...
    </p>
</div>
